.header {
  font-family: 'Quicksand', sans-serif;
  font-size: 3vh;
  font-weight: bold;
}

html {
  scroll-behavior: smooth;
}

body {
  padding-top: 100px;
}

* {
  font-family: 'Quicksand', sans-serif;
}

body.dark-mode {
  background-color: #1e2225;
  color: white;
}

::placeholder {
  text-align: center;
}

a {
  text-decoration: none;
}

form {
  text-align: center;
}

.icon {
  height: 200px;
  width: 200px;
}

.alert {
  text-align: center;
  font-weight: bold;
}

.card-img-top {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

.card-body-btn {
  margin-top: -40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-movie-title {
  font-weight: bold;
}

.main-search {
  margin-bottom: 10px;
}
