{% extends 'base.html' %} {% block content %}

<div class="container">
  <h1 class="display-4 text-center">Find a movie or show?</h1>
  {% if not g.user %}
  <h4 class="text-center">
    <a href="/signup">Create an account</a> or <a href="/login">log in.</a>
    <p>
      Set your bedtime & rating standards and we'll decide if the movie is worth
      watching.
    </p>
  </h4>
  {% endif %}
  <h6 class="text-center">
    We make sure the movie doesn't go past your bedtime and show you the IMDB &
    RottenTomatoes rating. If the ratings don't match your standards, then we'll
    let ya know! {% if g.user %}
    <p>
      You can <a href="/users/{{g.user.id}}">edit your account</a> if you want
      to change some settings.
    </p>
    <h4 class="text-center" id="currentTime" data-time="{{ time }}">The current time is {{ time }}</h4>
    {% if g.user.bedtime %}
    <h6 class="text-center" id="userBedtime" data-bedtime="{{ user_bedtime }}">
      Your current bedtime is set to {{user_bedtime}}.
    </h6>
    {% endif %}
    {% if g.user.imdb_rating %}
    <h6 class="text-center" id="userImdb" data-imdb="{{ g.user.imdb_rating }}">
      Your current IMDB standard is set to {{g.user.imdb_rating}} stars.
    </h6>
    {% endif %}
    {% if g.user.rt_rating %}
    <h6 class="text-center" id="userRt" data-rt="{{ g.user.rt_rating }}">
      Your current Rotten Tomatoes standard is set to {{g.user.rt_rating}}%.
    </h6>
    {% endif %} {% endif %}
  </h6>
</div>

<form action="/movie_search" , method="POST">
  {{ form.hidden_tag() }} {% for field in form if field.widget.input_type !=
  'hidden' %}
  <p class="form">
    {{ field.label }} {{ field(class_="form-control") }} {% for error in
    field.errors %} <span class="form-text text-danger">{{ error }}</span>
    {% endfor %}
  </p>
  {% endfor %}
  <div class="d-grid gap-2 col-6 mx-auto">
    <button class="btn btn-outline-secondary btn-lg" type="submit">Search!</button>
  </div>
</form>

{% if data %}
 <div class="container">
  <div class="row">
    {% if data['Poster'] == 'N/A' %}
    <div class="col" id="alt-movie-image"><img style="height: 444px; width: 300px;" src="/static/images/no-poster.jpg" /></div>
    {% else %}
    <div class="col" id="movie-image"><img src="{{data['Poster']}}" /></div>
    {% endif %}
    <div class="col text-center justify-content-center align-self-center" id="movie-info"><h1>{{data['Title']}}</h1><h4 id="runtime" data-runtime="{{data['Runtime']}}">{{data['Runtime']}}</h4></div>
    <div id="carouselExampleDark" class="carousel carousel-dark slide col text-center justify-content-center align-self-center" style="width: 10vw" data-bs-ride="carousel">
      <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000">
        <div class="d-flex justify-content-center"><img
          class="icon d-block w-10"
          src="/static/images/imdb.png"
        /></div>
        {% if data['Ratings'][0]%}
        <h2 class="text-center" id="imdbRating" data-imdb="{{data['Ratings'][0]['Value']}}">{{data['Ratings'][0]['Value']}}</h2>
        {% else %}
        <h2 class="text-center" id="imdbRating" data-imdb="NA">N/A</h2>
        {% endif %}
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <div class="d-flex justify-content-center"><img
          class="icon d-block w-10"
          src="/static/images/rt.png"
        /></div>
        {% if data['Ratings'][1] %}
        <h2 class="text-center" id="rtRating" data-rt="{{data['Ratings'][1]['Value']}}">{{data['Ratings'][1]['Value']}}</h2>
        {% else %}
        <h2 class="text-center" id="rtRating" data-rt="NA">N/A</h2>
        {% endif %}
      </div>
      <div class="carousel-item">
        <div class="d-flex justify-content-center"><img
          class="icon d-block w-10"
          src="/static/images/metacritic.png"
        /></div>
        {% if data['Ratings'][2] %}
        <h2 class="text-center">{{data['Ratings'][2]['Value']}}</h2>
          {% else %}
        <h2 class="text-center">N/A</h2>
        {% endif %}
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
      </div>
    </div>
  </div>
</div>
{% if g.user %}
<div class="container">
    <div class="d-grid gap-2 col-6 mx-auto">
      <button id="decide" class="btn btn-outline-secondary btn-lg" type="submit">Want us to decide for you?</button>
    </div>
</div>
{% endif %}
{% endif %} {% endblock %}
